@model S2P1.Models.Person
@* 
    Group Assignmnent :   S2P2
    Student numbers   :221004954,219014233,222006734,220003789
    Purpose:          :The purpose of this program is to provide the user with a web based page of the people stored in the database and display their information details. 
*@


@{
    ViewData["Title"] = "Create";
}

<h1>Create New Person</h1>

<h4>Person</h4>
<hr>
<div class="row">
    <div class="col-md-4">

        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @* 
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div> 
            *@
            <div class="form-group">
                <label asp-for="Address.AddressLine1" class="control-label"></label>
                <input asp-for="Address.AddressLine1" class="form-control" />
                <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine2" class="control-label"></label>
                <input asp-for="Address.AddressLine2" class="form-control" />
                <span asp-validation-for="Address.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine3" class="control-label"></label>
                <input asp-for="Address.AddressLine3" class="form-control" />
                <span asp-validation-for="Address.AddressLine3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine4" class="control-label"></label>
                <input asp-for="Address.AddressLine4" class="form-control" />
                <span asp-validation-for="Address.AddressLine4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine5" class="control-label"></label>
                <input asp-for="Address.AddressLine5" class="form-control" />
                <span asp-validation-for="Address.AddressLine5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Code" class="control-label"></label>
                <input asp-for="Address.Code" class="form-control" />
                <span asp-validation-for="Address.Code" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}