@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <p class="lead">
        Group Assignmnent :   S2P2
    </p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>

    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <br>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Student numbers
            <ul>
                <li>J.N Modiba :221004954 (<a href="https://github/JALES25">JALES25</a>)</li>
                <li>L.K November :219014233</li>
                <li>D.M Tshabalala :222006734</li>
                <li>R.R Meko :220003789</li>
            </ul>
        </p>
        <p class="">
            We are a team of 4 individuals who completed this project as a course project (SSD226C). 
        </p>
        <p class="lead">
           The purpose of the program is to provide the user with a web-based page of the people stored in the database and display their information details. <br>
           With C.R.U.D functionaly
        </p>

        <br>

        <b>Other Works: <a href="https://github.com/SSE-UnitConvertPro">SSE-UnitConvertPro</a></b>
    </div>
    <br>
    <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>
            Feel feel free to reach out to us for any inquiries or feedback. 
            You can use the contact form or contact us directly using the privided information.
        </p>
        <hr>

        <form action="">
            <div class="form-group">
                <label for="fullName">fullName</label>
                <input class="form-control" type="text" id="fullName" placeholder="Your Full Name">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input class="form-control" type="email" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <div class="mt-4">
            <h4>Contact Details:</h4>
            <p><b>Emai:</b> <a href="jalesnotjaque@mail.com">jalesnotjaque@gmail.com</a> | <i>others available upon request</i></p>
            <b>Phone:</b>
            <div class="d-inline-flex p-2">
                <p> +27 68 444 3922 (JALES25)</p>
                <p> +27 65 800 2809 (November)</p>
                <p> +27 67 057 2047 (Meko)</p>
                <p> +27 68 087 8984 (Tshabalala)</p>
            </div>
            <p> <b>Address:</b> CUT main Campus, Bloefontein Central, 9301</p>
        </div>
    </div>
</div>
