@{
    ViewData["Title"] = "Initialize Database Page";
}

<div class="container-fluid border-bottom mb-3">
    <h1>Persons List</h1>
    <br />
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <h2>Creating and Seeding Database ... </h2>
            <br />

            <div>
                @ViewBag.SeedDbFeedback
            </div>

        </div>
    </div>
</div>

